<div class="wrapper-component display-flex">
  <h2 routerLink="/" class="logo">Solar System</h2>

  <div class="planets">
    <a
      class="planets__nasa"
      href="https://solarsystem.nasa.gov/planets/overview/"
      target="_blank">
      <span>{{'nasa' | uppercase}}</span>
    </a>
    <a
      class="planets__wiki"
      href="https://en.wikipedia.org/wiki/Solar_System"
      target="_blank">
      <span>{{'wiki' | titlecase}}</span>
    </a>
    <a
      routerLink="/primary"
      routerLinkActive="active"
      class="planets__primary">
      <span>Primary</span>
    </a>
  </div>
</div>
