.wrapper-component {
  padding: 25px 5px;

  .planet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__image {
      width: 20%;
      height: auto;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      padding: 15px;
      background-color: rgba(255, 255, 255, .5);
      color: #393E46;
      border-radius: 15px;

      &-main {
        display: flex;
        justify-content: center;
        align-items: center;

        &__position {
          font-size: 3rem;
          font-weight: 700;
        }

        &__name {
          margin-left: 25px;
          font-size: 4rem;
          font-weight: 900;
        }
      }

      &__description {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 15px;
        text-align: center;
      }

      &-secondary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        &__mass {
          font-weight: 600;

          span {
            font-weight: 400;
          }
        }

        &__volume {
          font-weight: 600;
          margin-left: 25px;

          span {
            font-weight: 400;
          }
        }
      }
    }

    &__wikiLink {
      margin-top: 25px;
      padding: 10px;
      width: 125px;
      background-color: #fff;
      color: #393E46;
      font-size: 1.3rem;
      font-weight: 700;
      border-radius: 5px;
      transition: all .25s ease-in-out;
      text-align: center;

      &:hover {
        transform: scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapper-component {
    .planet {
      .info {
        &-main {

          &__position {
            font-size: 2.5rem;
          }

          &__name {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .wrapper-component {
    .planet {
      .info {
        &-main {

          &__position {
            font-size: 2rem;
          }

          &__name {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper-component {
    .planet {
      &__image {
        width: 35%;
      }
      .info {
        &-main {

          &__position {
            font-size: 1.5rem;
          }

          &__name {
            font-size: 2.5rem;
            margin-left: 5px;
          }
        }

        &__description {
          font-size: 1.1rem;
        }
      }

      &__wikiLink {
        font-size: 1.2rem;
        width: 85%;
      }
    }
  }
}

@media (max-width: 576px) {
  .wrapper-component {
    .planet {
      .info {
        &-main {

          &__position {
            font-size: 1.25rem;
          }

          &__name {
            font-size: 2rem;
          }
        }

        &__description {
          font-size: 1rem;
        }
      }

      &__wikiLink {
        font-size: 1.1rem;
      }
    }
  }
}
