<div class="wrapper-component milky">
  <div class="milky-main">
    <h1 class="milky-main__title">Solar System</h1>
    <h2 class="milky-main__description">The planetary system we call home orbits a star in an outer spiral arm of the vast Milky Way galaxy.
    </h2>
  </div>


  <div class="milky-info info">
    <div class="info-why">
      <h3 class="info-why__title">Why is it Called the Solar System?</h3>
      <p class="info-why__description">There are many planetary systems like ours in the universe, with planets
        orbiting
        a host star. Our planetary system is called “the solar system” because we use the word “solar” to describe
        things
        related to our star, after the Latin word for Sun, "solis."</p>
    </div>

    <div class="info-stats stats">
      <div class="stats-planets stats-wrapper">
        <div class="stats-planets__title stats__title">Planets | Dwarf Planets</div>
        <span class="stats-planets__count stats__count">8 | 5</span>
      </div>

      <div class="stats-moons stats-wrapper">
        <div class="stats-moons__title stats__title">Moons</div>
        <span class="stats-moons__count stats__count">200+</span>
      </div>

      <div class="stats-asteroids stats-wrapper">
        <div class="stats-asteroids__title stats__title">Asteroids</div>
        <span class="stats-asteroids__count stats__count">1281183</span>
      </div>

      <div class="stats-comets stats-wrapper">
        <div class="stats-comets__title stats__title">Comets</div>
        <span class="stats-comets__count stats__count">3867</span>
      </div>
    </div>
  </div>
</div>
