@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("assets/images/main-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color:#EEEEEE;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.wrapper {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
}

.wrapper-component {
  padding: 50px 5px;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

.loading {
  width: 150px;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
  width: 100px;
  background-color: #fff;
  border-radius: 5px;
  transition: all .25s ease-in-out;
  cursor: pointer;

  &__text {
    color: #393E46;
    font-weight: 700;
    font-size: 1.2rem;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

  &__arrow {
    width: 17px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .back-button {
    width: 85%;
    margin: 0 auto;

    &__text {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 576px) {
  .back-button {

    &__text {
      font-size: 1rem;
    }
  }
}
